img {
  object-fit: contain;
}

#product-table img {
  width: 40px;
  height: 40px;
}

#product-card img {
  width: 120px;
  height: 120px;
}

#toast-box {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 16px;
  padding: 16px;
  
  width: 400px;
  height: 120px;

  z-index: 1000;
  border: 2px solid #fff;
  border-radius: 16px;
  outline: 2px solid #343a40;
}
