html {
  overflow-y: overlay;
}

img {
  object-fit: contain;
}

#product-table img {
  width: 40px;
  height: 40px;
}

#product-card img {
  width: 120px;
  height: 120px;
}

#product-table {
  margin-bottom: 80px;
}

.custom-file-caption {
  margin-left: 10px;
  margin-top: 10px;
  color: #ced4da;
  transition: color 500ms ease-out;
  cursor: default;
}

.custom-file-caption:hover {
  color: #343a40;
  transition: color 500ms ease-out;
}

.custom-file-caption i {
  margin-right: 16px;
}



#toast-container {
  position: fixed;
  right: 0;
  top: 0;

  width: 400px;
  height: 100%;
  padding: 16px;
  padding-right: 32px;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  pointer-events: none;
  z-index: 100;
}

.toast-box {
  width: 100%;
  height: 120px;
  padding: 16px;
  margin: 8px;

  z-index: 100;
  border: 2px solid #fff;
  border-radius: 8px;
  outline: 2px solid #343a40;

  pointer-events: all;
}




#pagination-menu {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 80px;
  padding: 20px 12vw 20px 12vw;
  background-color: #343a40;

  z-index: 3;
}

#pagination-pages-box {
  position: absolute;
  margin: 0 20vw 0 20vw;
  left: 0;
  right: 0;
}

#product-table td {
  vertical-align: middle !important;
}
